Repository helpwave/mobile-app, pull requests merged in 2023-10, with the labels that each got.

#359 add basic task bottom sheet
  apps/tasks/lib/components/subtask_list.dart
  apps/tasks/lib/components/task_bottom_sheet.dart
  apps/tasks/lib/dataclasses/task.dart
  apps/tasks/lib/screens/main_screen.dart
  apps/tasks/lib/screens/main_screen_subscreens/my_tasks_screen.dart
  packages/helpwave_localization/lib/l10n/app_de.arb
  packages/helpwave_localization/lib/l10n/app_en.arb
  packages/helpwave_theme/lib/src/dark_theme.dart
  packages/helpwave_theme/lib/src/light_theme.dart
Labels: app:helpwave tasks

#407 add basic controllers for tasks
  apps/tasks/lib/components/patient_status_chip_select.dart
  apps/tasks/lib/components/task_card.dart
  apps/tasks/lib/controllers/my_tasks_controller.dart
  apps/tasks/lib/controllers/patients_controller.dart
  apps/tasks/lib/dataclasses/patient.dart
  apps/tasks/lib/dataclasses/task.dart
  apps/tasks/lib/screens/main_screen_subscreens/my_tasks_screen.dart
  apps/tasks/lib/screens/main_screen_subscreens/patient_screen.dart
  apps/tasks/lib/services/patient_svc.dart
  apps/tasks/lib/util/search_helpers.dart
  packages/helpwave_widget/lib/loading.dart
  packages/helpwave_widget/lib/src/loading/loading_and_error_widget.dart
  packages/helpwave_widget/lib/src/loading/loading_future_builder.dart
Labels: app:helpwave tasks, high-priority

#295 Signing apps
  .github/workflows/ci.yaml
  apps/impulse/android/app/build.gradle
  apps/tasks/android/app/build.gradle
  apps/tasks/pubspec.lock
  apps/tasks/pubspec.yaml
  melos.yaml
Labels: app:helpwave tasks, app:impulse
